html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: 0;
}

.container {
    padding-right: 25px;
    padding-left: 25px;
}

.container-mobile {
    text-align: center;
    float: none;
    margin: 0 auto;
    max-width: 480px;
    font-size: 21px;
    font-weight: 200;
}

.container-mobile img {
    margin: 20px auto;
}

.common-header {
    width: 100%;
    height: 430px;
    background-color: #2a2b2a;
    background: #292829;
    background-image: url('../img/gradient-banner.jpg');
    background-size: cover;
}

.navbar {
    height: 115px;
    background: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand img {
    margin-top: 15px;
    max-width: 223px;
}

.navbar-right {
    margin-top: 30px;
}

.navbar-inverse .navbar-nav>li {
    margin: auto 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a {
    background: none !important;
    color: white;
    border-bottom: 4px solid #E91E63;
    box-shadow: none;
}

.btn.btn-primary {
    background: #E91E63;
    color: white !important;
    border: none;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background: #E91E63;
}

.navbar-inverse .navbar-nav>li>a.btn.btn-primary {
    margin: 5px 0;
    padding: 10px 30px;
}

.navbar-inverse .navbar-nav>li>a.btn.btn-primary:hover,
.navbar-inverse .navbar-nav>li>a.btn.btn-primary:focus,
.navbar-inverse .navbar-nav>.active>a.btn.btn-primary {
    background: #E91E63 !important;
    border: none;
}

.jumbotron {
    background: none;
    border: 0;
    margin: 0;
    padding: 20px 0;
    font-size: 21px;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 60px;
}

h2 .highlight {
    border-bottom: 13px solid #E91E63;
    height: 35px;
    display: inline-block;
}

.page-1 {
    color: white;
    text-align: center;
}

.page-1 .container {
    max-width: 800px;
    margin-bottom: 20px;
}

.page-1 h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.page-1 input, .page-1 .btn {
    height: 59px;
}

.page-1 input {
    width: 360px !important;
}

.btn-request-demo {
    width: 200px;
    border: 0;
    font-weight: 100;
    white-space: normal;
    margin: 30px auto;
}

.page-text-image .container {
    margin: 20px auto;
}

.page-text-image .side-text {
    padding-top: 30px;
}

.page-text-image .side-image img {
    min-width: 1154px;
    height: 765px;
    margin: -20px auto 0 -100px;
}

.page-text-image ul {
    list-style-type: none;
}

.page-text-image ul>li {
    text-indent: -25px;
}

.page-text-image ul>li:before {
    content: "-";
    padding-right: 10px;
}

.page-2 {
    background: #E2E2E2;
}

.excerpt h3 {
    color: #0D0033;
    font-size: 18px;
}

.excerpt {
    color: #6A6A6A;
    font-size: 15px;
    margin-bottom: 50px;
}

img.side-icon {
    height: 55px;
    margin-top: 30px;
}

.page-3 {
    color: white;
    background: #C51D55;
}

.testimonial {
    text-align: center;
}

.testimonial-author {
    display: block;
    margin: -10px 0 30px 0;
    text-align: right;
}

.page-5 {
    color: white;
    text-align: center;
}

.page-5 .container {
    max-width: 900px;
}

.page-5 h2 {
    font-weight: 400;
}

.page-5 h3 {
    margin: 40px 0;
}

.page-5 p {}

.page-6 {
    background: #F7F8F9;
}

.page-6 h2,
.page-6 h3 {
    text-align: center;
    font-weight: 400;
}

.page-6 img {
    margin: 0 auto;
    display: block;
}

.page-6 p {
    text-align: center;
}

.three-things .box {
    background: white;
    padding: 15px;
    font-weight: 300;
    text-align: center;
}

img.person {
    border-radius: 75px;
}

.three-things .box .title {
    color: #02B9D5;
    font-size: 24px;
}

.three-things .box .description {
    color: #8C8C8E;
    margin-top: 30px;
    font-size: 18px;
}

.three-things .box .linkedin a {
    color: #8C8C8E;
    display: block;
    margin: 30px auto 0 auto;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background: url('../img/linkedin.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-discontinue {
    color: white;
    font-weight: 200;
}

.page-discontinue b {
    font-weight: 400;
}

.page-discontinue a, .page-discontinue a:hover {
    color: white;
    text-decoration: underline;
}

.page-uninstall {
    color: white;
    text-align: center;
    font-weight: 200;
}

.page-uninstall h3 {
    text-align: center;
}

.page-uninstall p {
    font-size: 16px;
    font-weight: 300;
}

.page-uninstall .form {
    text-align: left;
}

.page-uninstall .form .form-check-label {
    font-weight: 300;
}

.page-uninstall .form h3 {
    margin: 20px 0;
}

.page-uninstall .form .form-check {
    margin: 5px 0;
}

.page-uninstall .form .form-group {
    margin: 10px 0;
}

.page-uninstall .btn-chrome {
    background-position: 80% 50% !important;
}

.page-uninstall .btn-tell-me-more {
    padding: 15px;
}

.page-uninstall .message {
    background: white;
    color: black;
    border-radius: 5px;
}

.page-uninstall img {
    margin: 10px auto;
}

.page-installed h2,
h4,
h5 {
    text-align: center;
    color: white;
}

.page-installed h2 {
    margin-top: -20px;
    font-size: 42px;
    font-weight: 400;
}

.page-installed .boxes {
    color: black;
}

.page-installed .boxes .box {
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.page-installed .boxes .box h5 {
    color: #424242;
    font-size: 22px;
    font-weight: 400;
}

.page-installed .boxes .box img.box-img {
    width: 100%;
    max-height: 380px;
}

.page-installed .boxes .box img.box-img.box-img-space-2 {
    margin: 13px 0;
}

.page-installed .boxes .box img.box-img.box-img-space-3 {
    margin: 28px 0;
}

.page-installed .boxes .box hr {
    background: #2196F3;
    width: 50%;
    text-align: center;
    height: 3px;
}

.page-installed .boxes .box .box-text {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.page-installed .meta {
    margin: 20px 0;
    color: white;
    text-align: center;
}

.page-7 {
    color: white;
    text-align: center;
    font-weight: 200;
}

.page-7 a.contact {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.page-about h2 {
    color: #e91e63;
}

.page-about a {
    color: white;
}

.page-data-sources {
    color: black;
    background: white;
}

.page-how {
    background: #C51D55;
    color: white;
}

.page-why {
    background: #2196F3;
    color: white;
}

.page-partners {
    background: #cbcbcb;
}

.page-partners h2,
.page-partners h3 {
    text-align: center;
    font-weight: 400;
}

.page-partners .logos {
    text-align: center;
    margin: 25px 0 20px 0;
}

.page-partners .logo {
    height: 40px;
    margin: 15px 35px;
}

.page-partners .logo-wide {
    height: 30px;
    margin: 22.5px 20px;
}

.logo-aifred-heath {
    background: #344155 url('../img/logo-aifred-health.png') 50% 50% no-repeat;
    background-size: 48px 48px;
}

.ticker-headline {
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
}

.ticker-headline .message {
    font-size: 18px;
    margin-bottom: 20px;
}

.ticker-headline .name {
    font-size: 18px;
}

.ticker-headline .top-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ticker-headline .pic {
    display: inline-block;
}

.ticker-headline .pic > .logo-aifred-heath{
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 32px;
}

.ticker-headline .signature > .rest {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

.ticker-headline .title {
    font-size: 16px;
    font-style: italic;
    color: #9E9E9E;
}

.carousel.vertical .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 15;
    margin: 40px 0 0 30px;
    padding: 0;
}

.carousel.vertical .carousel-indicators li {
    background-color: #CDCDCD;
    display: block;
    margin-bottom: 10px;
}

.carousel.vertical .carousel-indicators .active {
    background-color: #F62068;
}

.carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
}
.carousel.vertical .carousel-inner > .item {
    width: auto;
    padding-right: 50px;
    -webkit-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.vertical .carousel-inner > .item {
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    display: block;
}
.carousel.vertical .carousel-inner > .active {
    top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel.vertical .carousel-inner > .next {
    top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
    top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
    top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
    top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
    top: 100%;
}

.page-features {
    background: #E2E2E2;
}

.page-last-cat {
    width: 100%;
    background-color: #2a2b2a;
    background: #292829;
    background-image: url('../img/gradient-banner.jpg');
    background-size: cover;
    color: white;
}

.page-last-cat .container {
    margin: 40px auto;
    text-align: center;
}

.page-footer {
    font-size: 11px;
    margin-bottom: -20px;
    padding: 80px 0 10px 0;
}

footer p {
    text-align: center;
    font-size: 14px !important;
}

.psst {
    font-size: 12px;
    text-align: right;
}

h4.modal-title {
    color: black;
}

@media (max-width: 1200px) {
    .side-text {
        padding-top: 0px;
        padding-right: 15px;
        text-align: center;
    }
    .side-text .chrome,
    .side-text .firefox {
        margin-top: 10px;
        padding: 0px;
    }
    .btn-chrome,
    .btn-firefox {
        background-position: 90% 50% !important;
        background-size: 30px 30px !important;
    }
    .navbar-brand {
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-brand img {
        margin: 0 auto;
    }
    .nav {
        display: none;
    }
    .page-text-image h2 {
        text-align: center;
    }
    .page-partners .logo {
        display: block;
        margin: 25px auto;
    }
}

@media (max-width: 992px) {
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .navbar {
        height: 55px;
    }

    .page-1 input {
        width: 100% !important;
    }

    .page-text-image .side-image img {
        min-width: 577px;
        height: 382px;
        margin: -20px auto -40px 0px;
    }

    .carousel.vertical .carousel-indicators {
        margin-left: 0;
    }
    
    .side-image {
        margin: 20px -30px 0 -30px !important;
        padding: 0;
    }

    .side-image img {
        max-width: 200px !important;
        margin-top: 0 !important;
    }

    .page-features .side-icon {
        margin: 0 auto;
        display: block;
    }

    .page-features .excerpt {
        text-align: center;
    }

}


/**
 * jivo
 */

.jivo-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    cursor: pointer;
    background-image: none;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.jivo-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
}

.jivo-btn.jivo-btn-light:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
}

.jivo-btn.jivo-btn-light {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
}

.jivo-btn:active,
.jivo-btn.jivo-btn-light:active {
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.jivo-btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.jivo-btn-gradient {
    background-image: url(//static.jivosite.com/button/white_grad_light.png);
    background-repeat: repeat-x;
}

.jivo-btn-light.jivo-btn-gradient {
    background-image: url(//static.jivosite.com/button/white_grad.png);
}

.jivo-btn-icon {
    width: 17px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -5px;
}

.jivo-btn-light {
    color: #fff;
}

.jivo-btn-dark {
    color: #222;
}

@media (max-width: 1200px) {
    .jivo-btn {
        font-size: 16px;
        padding-left: 0px !important;
    }
    .jivo-btn-icon {
        display: none;
    }
}