html, body{
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: 0;
}

.container {
    padding-right: 25px;
    padding-left: 25px;
}

.container-mobile {
    text-align: center;
    float: none;
    margin: 0 auto;
    max-width: 480px;

    font-size: 21px;
    font-weight: 200;
}

.container-mobile img {
    margin: 20px auto;
}

.navbar {
    height: 115px;
    background: #424242;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-right {
    margin-top: 30px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a {
    background: none;
    color: white;
    border-bottom: 4px solid #E91E63;
}

.jumbotron {
    background: #424242;
    border: 0;
    margin: 0;
    padding: 20px 0;
}

.page-1 {
    color: white;
}

.page-1 h2 {
    font-weight: 400;
}

.side-download {
    padding-top: 100px;
    padding-right: 0;
}

.side-download .row {
    margin: 0;
}

.side-download .firefox {
    padding: 0 0 0 5px;
}

.side-download .chrome {
    padding: 0 5px 0 0;
}

.side-download .tell-me-more {
    margin-top: 10px;
}

.side-laptop {
    padding-left: 0;
}

.btn-firefox, .btn-chrome, .btn-tell-me-more {
    width: 100%;
    border: 0;
    font-size: 15px;
    font-weight: 100;
    white-space: normal;
}

.btn-firefox, .btn-chrome {
    text-align: center;
    padding-right: 60px;
    background-size: 40px 40px !important;
    background-position: 90% 50% !important;
    background-repeat: no-repeat !important;
}

.btn-firefox {
    background: #903051 url('../img/logo-firefox.png');
}

.btn-firefox:focus, .btn-firefox:hover {
    background-color: #6c2638;
}

.btn-chrome {
    background: #6C6B6B url('../img/logo-chrome.png');
}

.btn-chrome:focus, .btn-chrome:hover {
    background-color: #525151;
}

.btn-tell-me-more {
    background: #2196F3;
}

.btn-tell-me-more:focus, .btn-tell-me-more:hover {
    background: #1f72c7;
}

.page-2 {
    color: white;
    background: #2196F3;
}

.page-2 h2 {
    text-align: center;
    font-weight: 300;
}

.page-3 h2, .page-3 h3 {
    text-align: center;
    font-weight: 400;
}

.page-3 img {
    margin: 0 auto;
    display: block;
}

.page-3 p {
    text-align: center;
}

.page-4 {
    color: white;
    background: #E91E63;
}

.page-4 h2 {
    text-align: center;
    font-weight: 300;
}

.testimonial {
    text-align: center;
}

.testimonial-author {
    display: block;
    margin: -10px 0 30px 0;
    text-align: right;
}

.page-5 {
    color: white;
    text-align: center;
}

.page-5 .container {
    max-width: 900px;
}


.page-5 h2 {
    font-weight: 400;
}

.page-5 h3 {
    margin: 40px 0;
}

.page-5 p {

}

.page-6 {
    background: #F7F8F9;
}

.page-6 h2, .page-6 h3 {
    text-align: center;
    font-weight: 400;
}

.page-6 img {
    margin: 0 auto;
    display: block;
}

.page-6 p {
    text-align: center;
}

.three-things .box {
    background: white;
    padding: 15px;
    font-weight: 300;
    text-align: center;
}

img.person {
    border-radius: 75px;
}

.three-things .box .title {
    color: #02B9D5;
    font-size: 24px;
}

.three-things .box .description {
    color: #8C8C8E;
    margin-top: 30px;
    font-size: 18px;
}

.three-things .box .linkedin a {
    color: #8C8C8E;
    display: block;
    margin: 30px auto 0 auto;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background: url('../img/linkedin.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-uninstall {
    color: white;
    text-align: center;
    font-weight: 200;
}

.page-uninstall h3 {
    text-align: center;
}

.page-uninstall p {
    font-size: 16px;
    font-weight: 300;
}

.page-uninstall .form {
    text-align: left;
}

.page-uninstall .form .form-check-label {
    font-weight: 300;
}

.page-uninstall .form h3 {
    margin: 20px 0;
}

.page-uninstall .form .form-check {
    margin: 5px 0;
}

.page-uninstall .form .form-group {
    margin: 10px 0;
}

.page-uninstall .btn-chrome {
    background-position: 80% 50% !important;
}

.page-uninstall .btn-tell-me-more {
    padding: 15px;
}

.page-uninstall .message {
    background: white;
    color: black;
    border-radius: 5px;
}

.page-uninstall img {
    margin: 10px auto;
}

.page-7 {
    color: white;
    text-align: center;
    font-weight: 200;
}

.page-7 a.contact {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.page-footer {
    font-size: 11px;
    color: white;
    margin-bottom: -20px;
    padding: 80px 0 10px 0;
    background: #2F2F33 url('../img/logo-footer.png');
    background-size: 45px 51px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

footer p {
    text-align: center;
    font-size: 14px !important;
}

.psst {
    font-size: 12px;
    text-align: right;
}

@media (max-width: 1200px) {
    .side-download {
        padding-top: 0px;
        padding-right: 15px;
        text-align: center;
    }

    .side-download .chrome, .side-download .firefox {
        margin-top: 10px;
        padding: 0px;
    }

    .btn-chrome, .btn-firefox {
        background-position: 90% 50% !important;
        background-size: 30px 30px !important;
    }

    .navbar-brand {
        width: 100%;
    }

    .navbar-header {
        float: none;
    }

    .navbar-brand img {
        margin: 0 auto;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 992px) {
    .side-laptop {
        margin: 20px -30px 0 -30px;
        padding: 0;
    }
}

/**
 * jivo
 */
 .jivo-btn {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   text-transform: none;
   cursor: pointer;
   background-image: none;
   display: inline-block;
   padding: 6px 12px;
   margin-top: 10px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   border: 0px;
   border-radius: 4px;
   white-space: nowrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}
.jivo-btn:hover {
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.2), inset 0 0 20px 10px rgba(255,255,255,0.3);
}
.jivo-btn.jivo-btn-light:hover{
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3), inset 0 0 20px 10px rgba(255,255,255,0.1);
}
.jivo-btn.jivo-btn-light{
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
}
.jivo-btn:active,
.jivo-btn.jivo-btn-light:active{
   box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.4), inset 0 0 15px rgba(0,0,0,0.2);
   cursor: pointer;
}
.jivo-btn:active {
   outline: 0;
   background-image: none;
   -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
   box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.jivo-btn-gradient {
   background-image: url(//static.jivosite.com/button/white_grad_light.png);
   background-repeat: repeat-x;
}
.jivo-btn-light.jivo-btn-gradient {
   background-image: url(//static.jivosite.com/button/white_grad.png);
}
.jivo-btn-icon {
   width:17px;
   height: 20px;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   margin-left: -5px;
}
.jivo-btn-light {
   color: #fff;
}
.jivo-btn-dark {
   color: #222;
}

@media (max-width: 1200px) {
    .jivo-btn {
        font-size: 16px;
        padding-left: 0px !important;
    }

    .jivo-btn-icon {
        display: none;
    }
}