<?xml version="1.0"?>
<configuration>
    <system.web>
        <staticContent>
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".zip" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".xpi" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>